// 定义初始根元素fontSize大小，根据iPhone6,6s,7,8设计稿宽度设置
$rootFontSize: 375;

// 定义px -> rem转换函数
@function px2rem($px) {
    // 在浏览器上预览的虚拟设备可能跟实际真机有0.00125左右的大小差距
    // 所以浏览器上dom树的元素的宽高长度值等可能不完全准确
    @return $px / $rootFontSize + rem;
}
// app普通标题字体大小
$titleFontSize: px2rem(16);
// app普通字体主要大小
$infoFontSize: px2rem(14);
// app小型字体大小
$miniFontSize: px2rem(12);
// app普通间距
$marginSize: px2rem(8);
// app普通圆角
$radiusSize: px2rem(8);